
html {
  font-size: 14px;
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 17px;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1024px) {
  p {
    font-size: 1em;
    margin-bottom: 1.8em;
  }
}
*{
  color: #003B5C;
}
body {
font-family: Helvetica;
font-weight: normal;
font-style: normal;
line-height: 1.5;
font-size: 100%;

}

a {
  color: #37a6c4;
}
a:hover {
  text-decoration: none;
  color: #5db9d1;
}

/*background colors*/
.bk-primary {
  background: #325d88;
}
.bk-success {
  background: #008080;
}
.bk-warning {
  background: #f47c3c;
}
.bk-happy{
  background: #001a66;
}
.bk-danger {
  background: #d9534f;
}
.bk-info {
  background: #29abe0;
}

.panel {
  overflow: hidden;
}


.text-white,
.text-light {
  color: #fff !important;
}
.link-white a {
  color: #fff;
}
.text-grey {
  color: #ccc;
}
.text-dgrey {
  color: #818181;
}
.text-brand {
  color: #37a6c4;
}
.text-yellow {
  color: #ffff00;
}
.title .line {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 3px solid #222;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* content*/
.page-title {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.brand {
  background: #f0f0f0;
  position: relative;
  z-index: 5;
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
}

.brand .menu-btn {
  float: right;
  /*background: #003B5C;*/
  font-size: 40px;
  text-align: center;
  cursor: pointer;
  color: #85714D;
  padding: 1px 10px;
}
@media only screen and (min-width: 992px) {
  .brand .menu-btn {
    display: none;
  }
}





.brand .ts-profile-nav {
  float: right;
  display: none;
}
.brand .ts-profile-nav li {
  float: left;
  position: relative;
}
.brand .ts-profile-nav li a {
  display: block;
  padding: 20px;
  color: #003B5C;
}


@media only screen and (min-width: 992px) {
  .brand .ts-profile-nav {
    display: block;
  }
}
.ts-sidebar::-webkit-scrollbar-track {
  background-color: transparent;
}
.ts-sidebar::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.ts-sidebar::-webkit-scrollbar-thumb {
  background-color: #85714D;
}
.ts-sidebar {
  background: #003B5C;
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
  position: fixed;
  z-index: 6;
  width: 100%;
  bottom: 0;
  top: 60px;
  overflow-y: auto;
}

@media only screen and (min-width: 992px) {
  .ts-sidebar .ts-profile-nav {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .ts-sidebar {
    max-height: 100%;
    bottom: 0;
  }
}

.ts-sidebar-menu a {
  display: block;
  text-decoration: none;
  padding: 12px 15px;
  color: #fff;
}
.ts-sidebar-menu li {

  left: 15px;
  top: 10px;
  position: relative;
}
.ts-sidebar-menu li i {
  color: #585c64;
  margin-right: 10px;
}
.ts-sidebar-menu li ul {
  display: block;
  background: rgba(255, 0, 0, 0.12);
  background: rgba(0, 0, 0, 0.32);
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
@media only screen and (min-width: 992px) {
  .ts-sidebar-menu .logout {
    display: none;
  }
}

.menu-open,
.ts-sidebar-menu .open > ul {

  width: 100%;
  max-height: 2000px;
}

.ts-main-content .content-wrapper {
  padding-top: 15px;
  margin-top: 60px;
}
@media only screen and (min-width: 992px) {
  .ts-main-content .ts-sidebar {
    width: 220px;
    float: left;
  }
  .ts-main-content .content-wrapper {
    margin-left: 250px;
  }
}
@media screen only and (max-width:315px){
  .ts-main-content{
    margin-top: 50%;
  }
}

.content {
  min-height: 100%;
  margin: 0 auto -50px;
}
.footer, .push{
  height: 50px;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
outline: none;
}
